################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
#[Ll]ogs/
[Ll]ib/
[Dd]ist/

# Visual Studio 2015 cache/options directory
.vs/
/packages
/wwwroot/lib/
Site/wwwroot/css/*.css
Site/_payments/
_dist
_references.js

# .NET Core
**/Properties/launchSettings.json
*.pdb

# except build/, which is used as an MSBuild target.
!**/packages/build/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

_[Nn]as
_[Pp]ub
*.rar
*.zip
*.mp4
*.mp3

Properties/PublishProfiles

/File System/Versions/